body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 10%);
}
#myH1{
    transition: all 0.5s;
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: hsl(300, 100%, 85%);
    text-shadow: 2px 4px 5px hsl(300, 100%, 75%);
}
#myH1:hover{
    transition: all 0.5s;
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: hsl(300, 100%, 95%);
    text-shadow: 2px 4px 5px hsl(300, 100%, 85%);
}
#container{
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(300, 100%, 15%);
    border: 3px solid hsl(300, 100%, 10%);
    box-shadow: 2px 4px 5px hsl(300, 100%, 5%);
}
#display{
    transition: all 0.5s;
    font-size: 4rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 90%);
    margin: 9px;
    text-shadow:  2px 4px 5px hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 10%);
    border: 3px solid hsl(300, 100%, 5%);
    box-shadow:  2px 4px 5px hsl(300, 100%, 10%);
}
#controls button{
    transition: all 0.5s;
    font-size: 3rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 7px;
    margin-bottom: 9px;
}
#startBtn{
    transition: all 0.5s;
    background-color: hsl(120, 100%, 50%);
    border: 3px solid hsl(120, 100%, 30%);
    color:hsl(120, 100%, 30%);
    box-shadow: 2px 4px 5px hsl(120, 100%, 30%);
    cursor: pointer;
}
#stopBtn{
    transition: all 0.5s;
    background-color: hsl(0, 100%, 50%);
    border: 3px solid hsl(0, 100%, 30%);
    color: hsl(0, 100%, 30%);
    box-shadow: 2px 4px 5px hsl(0, 100%, 30%);
    cursor: pointer;
}
#resetBtn{
    transition: all 0.5s;
    background-color: hsl(39, 100%, 50%);
    border: 3px solid hsl(33, 100%, 30%);
    color: hsl(33, 100%, 30%);
    box-shadow: 2px 4px 5px hsl(33, 100%, 30%);
    cursor: pointer;
}
#startBtn:hover{
    transition: all 0.5s;
    background-color: hsl(120, 100%, 60%);
    border: 3px solid hsl(120, 100%, 40%);
    color:hsl(120, 100%, 40%);
    box-shadow: 2px 4px 5px hsl(120, 100%, 40%);
    cursor: pointer;
}
#stopBtn:hover{
    transition: all 0.5s;
    background-color: hsl(0, 100%, 60%);
    border: 3px solid hsl(0, 100%, 40%);
    color: hsl(0, 100%, 40%);
    box-shadow: 2px 4px 5px hsl(0, 100%, 40%);
    cursor: pointer;
}
#resetBtn:hover{
    transition: all 0.5s;
    background-color: hsl(39, 100%, 60%);
    border: 3px solid hsl(33, 100%, 40%);
    color: hsl(33, 100%, 40%);
    box-shadow: 2px 4px 5px hsl(33, 100%, 40%);
    cursor: pointer;
}